### Data types and it's operations

In [1]:
x = 'Hello python'
print(x)

Hello python

In [2]:
y =15
print(y)

15

In [3]:
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

In [4]:
f = 7.5
print(type(f))
print(f)

<class 'float'>
7.5

In [5]:
b = True
print(type(b))
print(b)

<class 'bool'>
True

In [6]:
print(type('56')) #as it enclosed in single quotes it is String

<class 'str'>

In [7]:
x,y,z = 10,11,12 
print(x,y,z)

10 11 12

In [9]:
x = 10;y=11;z=13
print(x,y,z)

10 11 13

In [11]:
print(x+y) # addition
print(x-y) # substraction
print(x*y) # multiplication
print(x/y) # division
print(x**y) #x power of y
print(x%y) # modulus 
print(x//y) #quotient

21
-1
110
0.9090909090909091
100000000000
10
0

In [12]:
print(5==5)
print(5==6)

True
False

In [13]:
h = 'hello'
H = 'hi'
print(h+H)
print(h*2,H*2)

hellohi
hellohello hihi

In [14]:
print(h+x) # Throws error because a number cannot convatenate with string

TypeError: can only concatenate str (not "int") to str

In [15]:
print(h+str(x))

hello10

In [16]:
#Taking user input
E = input("Enter the number")
print(E)
print(type(E))
#By default input takes string to convert it to int we have provide typecast

Enter the number5
5
<class 'str'>

In [17]:
e = int(input("Enter age "))

Enter age 43

In [18]:
print(type(e))

<class 'int'>

In [19]:
# here we can how lists work 

lst = [2,4.5,False,'w']
print(lst)
print(type(lst))

[2, 4.5, False, 'w']
<class 'list'>

In [20]:
#List stores hetrogenes data 
mylist = [] #empty list
mylist.append(10)
mylist.append(20)
print(mylist)

[10, 20]

In [21]:
mylist[1]

20

In [22]:
mylist.append(10,20)

TypeError: append() takes exactly one argument (2 given)

### Conditional Constructs

In [25]:
x = 15
if x%2 == 0:
    print(x, ' is even')
else:
    print(x, ' is odd')
print('Finish')

15  is odd
Finish

In [27]:
#Example of multiple if conditions 
x = 5
if x<10:
    print(x ,' is smaller than 10')
if x>10:
    print(x, ' is bigger than 10')
print('Finish')

5  is smaller than 10
Finish

In [29]:
#Chained conditions
x = 15
y = 7
if x>y:
    print('x is greater than y')
elif x<y:
    print('x is less than y')
else:
    print(' x and y are equal')
print('Finish')

x is greater than y
Finish

In [30]:
#Nested if
x = 5
if x>0:
    if x<10:
        print('x is a positive single digit')
else:
    print('x is non-positive number')
print('Finish')

x is a positive single digit
Finish

In [31]:
x = 4
if x>0 and x<10:
    print('X is a positive and a single digit number')
else:
    print('Negative number')
print('Finish')

X is a positive and a single digit number
Finish

In [32]:
x = 4
y = 13
if x>2 or x<y:
    print('x is greater than 2 but less then y')
else:
    print('value of x is ', x)

x is greater than 2 but less then y

### Iterative Constructs

In [35]:
math_marks = int(input("Enter math marks "))
social_marks = int(input("Enter social marks"))
science_marks = int(input("Enter science marks "))
total = math_marks + social_marks + science_marks
average = total/3
if average > 75:
    print("Student qualified for next grade")
else:
    print("student not Qualified for next grade")

Enter math marks 78
Enter social marks70
Enter science marks 87
Student qualified for next grade

In [36]:
# iterate for multiple students 
NoofStudents = int(input("Enter number of students : "))
count_of_students = 1
while count_of_students <= NoofStudents:
    math_marks = int(input("Enter math marks "))
    social_marks = int(input("Enter social marks"))
    science_marks = int(input("Enter science marks "))
    total = math_marks + social_marks + science_marks
    average = total/3
    if average > 75:
        print("Student qualified for next grade")
    else:
        print("student not Qualified for next grade")
    count_of_students += 1
print('Done.')

Enter number of students : 2
Enter math marks 45
Enter social marks32
Enter science marks 56
student not Qualified for next grade
Enter math marks 90
Enter social marks98
Enter science marks 76
Student qualified for next grade
Done.

In [37]:
List1 = [10,20,30,40,50,60,70,98,34,56,22,46,78,12,90]
count = 0
Sum = 0
for index in List1:
    count += 1
    Sum = Sum + index
mean = round(Sum/count,2)
print(mean)

47.73

## Strings

##### String are immutable 
##### string is the list if characters is in order
##### strings can be defined in single and diuble quotes 
##### Character type is no supported
##### A character is a keystroke ( on keyboard )
##### String can have spaces
##### if string have zero (0) , is an empty string 
##### Special characters are delimitated by quotes ( '' or "")
##### Multi line strings are written in triple quotes ( ''' ''' or """ """)
##### strings can be accessed using an index

In [41]:
string1 = 'python supports database programming \n'
string2 = "Python supports socket programming \n"
string3 = '''Hi hello 
how are you buddy 
Im good'''

print(string1,string2,string3)

python supports database programming
 Python supports socket programming
 Hi hello
how are you buddy
Im good

In [42]:
print("string1[0]: ", string1[0])
print("string2[1:5]: ", string2[1:5])

string1[0]:  p
string2[1:5]:  ytho

In [43]:
print("string2[-5:-1]: ", string1[-5:-1])
print("string2[-5:-10]: ", string2[-5:-10]) #No output

string2[-5:-1]:  ing
string2[-5:-10]:

In [45]:
#Strings are immutable 
#A new string is created in memory , when updated.
#Here is example

string = 'Hello world!'
print(string)
string = 'Testing' + string
print(string)

Hello world!
TestingHello world!

In [46]:
string = string1 + " " + string1
print(string)

python supports database programming
 python supports database programming

In [47]:
# Escape sequences in strings
# '\n' new line
# '\t' tab
# '\a' alert
# '\b' backspace
# '\f' formfeed

#here is the example

tabby_cat = "\t I'm tabbed in."
persian_cat = "I'm split\non a line"
backslash_cat = "I'm \\a \\ cat."

fat_cat = """ 
I'll do a list:
\t* cat food
\t* Finishes
\t* Catnip\n\t* Grass
"""

In [48]:
print(tabby_cat)
print(persian_cat)
print(backslash_cat)
print(fat_cat)

	 I'm tabbed in.
I'm split
on a line
I'm \a \ cat.

I'll do a list:
	* cat food
	* Finishes
	* Catnip
	* Grass

In [49]:
print("Ram\b\bKumar")
print("Ram\akumar\a") #two beeps

RamKumar
Ramkumar

In [51]:
#Types of string operators 
# + --> Concatenation
# * --> Repetition
# [] --> Subscript
# [:] --> Slice
# in --> membership
# not in --> membership
# r/R --> Raw string
# % --> Format
stri = "Great day for the python programming"
stri = stri + stri  # Concatenation
print(stri)

Great day for the python programmingGreat day for the python programming

In [52]:
stri = "Great day for the python programming"
stri = stri * 3  # Repetition
print(stri)

Great day for the python programmingGreat day for the python programmingGreat day for the python programming

In [53]:
stri = "Great day for the python programming"

In [54]:
print(stri[13]) #subscript
print(stri[1:5]) #slice
print('G' in stri) # membership
print('d' not in stri) # membership
print("r'\n prints \n and print \n ram") #Raw string

reat
True
False
r'
 prints
 and print
 ram

In [60]:
# String methods 
# Capitalize --> Capitalises the first letter of a string 
# count --> Count of string occurance
# find --> Index of the first occurance else -1
# isalnum --> at least one char is alpha or numeric 
# isalpha --> True if full string is alphabetic
# isdigit --> True if full string is numeric
# islower --> True if full string is in lowercase
# istitle --> True if full string is title case
# isupper --> True if full string is uppercase
# len --> Length of the string
# split --> spilts the string  based on a delimeter
# swapcase --> Reverses the string casing
# title --> Title cases the string
# lower --> Converts the string into lowercase
# upper --> converts the string into uppercase


#Example

v1 = "python"
v2 = "#######"
v3 = "abcd"
v4 = "1234"
v5 = "great day for python programming"

print("Capitilize : ", v1.capitalize())

Capitilize :  Python

In [61]:
print("Count: ", v1.count('y',0,len(v1))) #count of occurance -- char/string

Count:  1

In [62]:
print("Index : ",v1.index('y',0,len(v1))) # same as index but raises exception if str is not found

Index :  1

In [63]:
print("find : ",v1.find('y',0,len(v1))) # index of first occurance else -1

find :  1

In [65]:
print("isalnum: ", v2.isalnum())

isalnum:  False

In [66]:
print("isalpha: ",v3.isalpha())
print("isdigit: ",v4.isdigit())
print("islower: ",v3.islower())
print("isupper: ",v3.isupper())
print("istitle: ",v3.istitle()) #True if string is title cased

isalpha:  True
isdigit:  True
islower:  True
isupper:  False
istitle:  False

In [68]:
print("Length : ",len(v3))
print("Lower: ",v5.lower())
print("split: ",v5.split(" "))
print("swapcase : ",v3.swapcase())
print("Title: ",v5.title())
print("Upper : ",v3.upper())

Length :  4
Lower:  great day for python programming
split:  ['great', 'day', 'for', 'python', 'programming']
swapcase :  ABCD
Title:  Great Day For Python Programming
Upper :  ABCD

In [70]:
print('12' == '12')
print("17" == "9")
print("12" == '12')
print("12" == "12")
print("aa" == "ab")
print("abc" != "abc")
print("abc" == "abc")

a = "I saw a wolf in the forest. A lone wolf."

print(a.find("wolf"))
print(a.find("wolf",10,20))
print(a.find("wolf",15))
print(a.rfind("wolf"))   #reverse find

True
False
True
True
False
False
True
8
-1
35
35

In [71]:
b = a.replace("wolf","fox")
print(b)
c = a.replace("wolf","fox",1)
print(c)

I saw a fox in the forest. A lone fox.
I saw a fox in the forest. A lone wolf.

In [74]:
sentence = "There are 22 apples in basket this morning , where 5 were taken by kids and remaining kept in fridge"

alphas = 0
digits = 0
spaces = 0

for i in sentence:
    if i.isalpha():
        alphas += 1
    if i.isdigit():
        digits += 1
    if i.isspace():
        spaces += 1
print("There are ", len(sentence), "Characters in the string sentence")
print("There are ", alphas , "alphabetic characters")
print("There are ", digits , "Digits")
print("There are ", spaces , "blank spaces")

There are  100 Characters in the string sentence
There are  77 alphabetic characters
There are  3 Digits
There are  19 blank spaces

In [75]:
# Strings cannot be changed 
# Opertors help in string manipulation
# The reverse search on s string is done by using 'rfind' method
# The "split" method is used to split the string based on s delimeter

## Lists

In [76]:
# List is a mutable container. It can contain mixed type
# Lists can be updated
# List can contain data of different types
# Lists are an ordered collection of values
# Lists are zero based ( can be accessed in reverse order)
# Elements contained in a list are comma separated
# Reverse access is possible in a list
# Duplication of items is allowed in a list
# Lists are dynamically changeable ( they are not mutable)

# Example -::- Creating and accessing lists

list1 = ['Satish','sateesh','sathish',1992,1994,'']
list2 = [1,2,3,4,5,6]
list3 = ['a','b','c','d','e']

print("0(Zeorth) index of list1 is ",list1[0])
print("list2[1:5] is ", list2[1:5])

0(Zeorth) index of list1 is  Satish
list2[1:5] is  [2, 3, 4, 5]

In [77]:
list2[2] = 2001
print("New value available at index 2 :",list2[2])
print(list2)

New value available at index 2 : 2001
[1, 2, 2001, 4, 5, 6]

In [78]:
del list2[2]
print("After value available at index 2 :",list2[2])
print(list2)

After value available at index 2 : 4
[1, 2, 4, 5, 6]

In [79]:
# Working with Operators

# '+'  --> Concatenation
# '*'  --> Repetition
# 'in' --> Membership

Names = ["Satish","sathish","sateesh","Deadly","Combination"]
names = ["ashok","ram","srinu","india"]

print("length: ",len([1,2,3]))
print("len of names list is : ", len(names))
print("Names + names is : " ,Names+names)
print("Repetition of Names list is :",Names*2)

length:  3
len of names list is :  4
Names + names is :  ['Satish', 'sathish', 'sateesh', 'Deadly', 'Combination', 'ashok', 'ram', 'srinu', 'india']
Repetition of Names list is : ['Satish', 'sathish', 'sateesh', 'Deadly', 'Combination', 'Satish', 'sathish', 'sateesh', 'Deadly', 'Combination']

In [80]:
print("Satish in Names : ", "Satish" in Names)

Satish in Names :  True

In [82]:
for obj in Names: # iterate over a list 
    print(obj)

Satish
sathish
sateesh
Deadly
Combination

In [83]:
# To demonstrate heterogeneous data list , initialization of list, and list function

# List heterogeneous objects 

objects = [1,-2,5,4,None,False,[1,2],"Python",(2,3),{}]
print(objects)
for obj in objects:
    print(obj)

[1, -2, 5, 4, None, False, [1, 2], 'Python', (2, 3), {}]
1
-2
5
4
None
False
[1, 2]
Python
(2, 3)
{}

In [84]:
# List initialization

print("List initialization")
N1 = [0 for i in range(15)]
N2 = [0]*15
print(N1,N2)

List initialization
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [85]:
N1[0:11] = [10] * 10 #slice operator

In [86]:
print(N1)

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 0, 0, 0, 0]

In [88]:
# List functions ( List())

print("List functions ()")

a = []
b = list()
print(a == b)
print(list((1,2,3,4))) # Type cast ( converting the tuple to list)
print(list(['Ruby','Python','Java']))

List functions ()
True
[1, 2, 3, 4]
['Ruby', 'Python', 'Java']

In [89]:
# List Methods

# Appending and removing items

langs = list()
langs1 = []
print(langs == langs1)

True

In [90]:
langs.append("python")
langs.append("Java")
print(langs)

['python', 'Java']

In [91]:
langs.insert(0,'C++')
langs

['C++', 'python', 'Java']

In [93]:
langs.extend(("Javascript","AngularJs"))
langs

['C++', 'python', 'Java', 'Javascript', 'AngularJs']

In [94]:
langs.extend("Perl")

In [95]:
langs

['C++', 'python', 'Java', 'Javascript', 'AngularJs', 'P', 'e', 'r', 'l']

In [96]:
newlangs = ["ReactJs","NodeJs"]
langs.extend(newlangs) #appending a list
langs

['C++',
 'python',
 'Java',
 'Javascript',
 'AngularJs',
 'P',
 'e',
 'r',
 'l',
 'ReactJs',
 'NodeJs']

In [97]:
langs.pop(3)

'Javascript'

In [98]:
langs.pop

In [99]:
print(langs)

['C++', 'python', 'Java', 'AngularJs', 'P', 'e', 'r', 'l', 'ReactJs', 'NodeJs']

In [100]:
langs.remove("Java")

In [101]:
langs

['C++', 'python', 'AngularJs', 'P', 'e', 'r', 'l', 'ReactJs', 'NodeJs']

In [103]:
# Using Enumerate method
print("Enumerate")
N = [1,4,9,16,25,36,49,64,81,100]
for e,i in enumerate(N):
    print("N[",e,"] is ",i)

Enumerate
N[ 0 ] is  1
N[ 1 ] is  4
N[ 2 ] is  9
N[ 3 ] is  16
N[ 4 ] is  25
N[ 5 ] is  36
N[ 6 ] is  49
N[ 7 ] is  64
N[ 8 ] is  81
N[ 9 ] is  100

In [104]:
# Usage of count method , to find how many time an element occurs in list

print("Count method")
N = [1,2,1,4,5,3,5,4,1,2,8,4,3,5,0,3]
print(N.count(4))
print("Count of digit 5 is ",N.count(5))

Count method
3
Count of digit 5 is  3

In [105]:
# Nested list
print("Nested list -::- List with in a list")
Num = [[1,2],4,5,[2,3,45],0,98,[1,2,3,4]]
print(Num[0])
print(Num[3][2])
print(Num[6][3])

Nested list -::- List with in a list
[1, 2]
45
4

In [109]:
# Sort and reverse the list
print("Sorting and Reversing the list")

N = [3,4,1,8,0,4,7,3,1,9]
N.sort()
print("Sorted order is :", N)
N.sort(reverse = True)
print("Reverse order is : ", N)

Sorting and Reversing the list
Sorted order is : [0, 1, 1, 3, 3, 4, 4, 7, 8, 9]
Reverse order is :  [9, 8, 7, 4, 4, 3, 3, 1, 1, 0]

In [114]:
A1 = ["bear","apple","zebra","Ant","ant","aPple","Color"]
A1.sort()
A1

['Ant', 'Color', 'aPple', 'ant', 'apple', 'bear', 'zebra']

In [112]:
N.reverse()
print(N)

[0, 1, 1, 3, 3, 4, 4, 7, 8, 9]

## tuples

In [117]:
# Tuples are fixed size sequences that is they are immutables
# Tuples are different from list 

# Tuples 
    # Cannot be updated
    # Can contain dat of different types
    # Are accessed using index
    # Are zero based
    # Are enclosed in () braces ( optional)
    # Are comparable and hashbale
    # are faster than lists for read-only operations 
    # Can be converted to list and vice versa
    # Don not have append or extend methods : New elements can't be added to them
    # Do not have remove or pop methods : Elements can't be removed from them
    # Do not have index method : Elements can't be found in them
    # Elements contained in a tuple are comma separated 
    # Reverse access is possible in a tuple
    # Duplication of items is allowed in a tuple
    # A tuple can be created with one element by ending it with comma( Example : data = ('abc',))

In [118]:
# Creating tuples
tup = (1,1,4,5,3,2,8,9,0,2,3,7,6,5,3)
print(tup)
print(type(tup))

(1, 1, 4, 5, 3, 2, 8, 9, 0, 2, 3, 7, 6, 5, 3)
<class 'tuple'>

In [119]:
tup1 = ('a',)
print(tup1)
print(type(tup1))

('a',)
<class 'tuple'>

In [120]:
data = ('a')
print(type(data))
print(data)

<class 'str'>
a

In [121]:
tup = tuple('Guido van rossam')
print(tup)
print(tup[4])
print(tup[3:9])

('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'r', 'o', 's', 's', 'a', 'm')
o
('d', 'o', ' ', 'v', 'a', 'n')

In [122]:
l = list(tup)
print(l)

['G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'r', 'o', 's', 's', 'a', 'm']

In [127]:
T1 = (3,4,5)
T2 = (3,5,4)

#Tuple comparison
#Compares each element , stops when one is greater else continues
#to next elements comparison

if T1 > T2:
    print(T1, " Tuple is greater")
else:
    print(T2, " Tuple is greater")
print("Length :" ,len(T2))
print("Compare : ",T1 < T2) #ret = True if T1 is greater
print("Max : ", max(T1))
print("Min : ", min(T2))

(3, 5, 4)  Tuple is greater
Length : 3
Compare :  True
Max :  5
Min :  3

In [128]:
print("Concatenation : ", T1+T2)
print("Repetition : ",T2*4)
print("Membership : ",4 in T2)

for x in T2:  #Iteration of tuple
    print(x)

Concatenation :  (3, 4, 5, 3, 5, 4)
Repetition :  (3, 5, 4, 3, 5, 4, 3, 5, 4, 3, 5, 4)
Membership :  True
3
5
4

## Dictionaries

In [129]:
# Dictionaries is a container of key-value pairs
# Dictionary 
    # Is mutable ( changeable)
    # Can contain mixed data types
    # Is not ordered unlike lists
    # Whole set of elemtns are enclosed in {}
    # Values can be accessed using KEYS , vice versa is not possible
    # Keys have to be unique : Duplication of key is not allowed
    # Keys are case sensitive
    # The function 'dict' creates a new dictionary with no items -::- Example :: obj = dict()

In [130]:
#Create and access dictionary 

weekday = {'sun':'sunday','mon':'monday','tue':'tuesday','wed':'wednesday'}
vals = dict(one=1,two=2)
capitals = {}
capitals["svk"] = "Bratislava"
capitals['deu'] = "Berlin"
capitals["dnk"] = "Copenhagen"

print(weekday)
print(vals)
print(capitals)

{'sun': 'sunday', 'mon': 'monday', 'tue': 'tuesday', 'wed': 'wednesday'}
{'one': 1, 'two': 2}
{'svk': 'Bratislava', 'deu': 'Berlin', 'dnk': 'Copenhagen'}

In [131]:
weekdays = {'sun':'sunday','mon':'monday','tue':'tuesday','sun':'Sunday'} # latest value is taken for "sun"
print(weekdays)

{'sun': 'Sunday', 'mon': 'monday', 'tue': 'tuesday'}

In [132]:
Basket = {'Oranges':12,'pears':5,'apples':4}
Basket['bananas']=5
print(Basket)

{'Oranges': 12, 'pears': 5, 'apples': 4, 'bananas': 5}

In [134]:
print("There are ",len(Basket)," various items in the Basket")
print(Basket['apples'])

There are  4  various items in the Basket
4

In [135]:
Basket['apples'] = 8
print(Basket['apples'])

8

In [137]:
print(Basket.get('Oranges'))
print(Basket.get('Cherris')) # returned undefined as Cherris is not defined

12
None

In [139]:
# Create a dict from a list

basket = ('oranges','pears','apples','bananas','apples')
fruits = {}.fromkeys(basket,0)
print(fruits)

{'oranges': 0, 'pears': 0, 'apples': 0, 'bananas': 0}

In [140]:
fruits['oranges'] = 12
fruits['pears'] = 8
fruits['apples'] = 4

print(fruits.setdefault('oranges',11))

# Creates a new key with value if it does not exist 

print(fruits.setdefault('kiwis',15))

12
15

In [141]:
print(fruits)

{'oranges': 12, 'pears': 8, 'apples': 4, 'bananas': 0, 'kiwis': 15}

In [147]:
domains = {'de':'Germany','sk':'slovakia','hu':'Hungary'}
domain = {'us':'United states','no':'Norway'}

domains.update(domain)
#to add two dictionaries

print(domains)

{'de': 'Germany', 'sk': 'slovakia', 'hu': 'Hungary', 'us': 'United states', 'no': 'Norway'}

In [145]:
items = {'coins':7,'pens':3,'cups':2,'bags':1,'bottle':4,'books':5}
print(items)
items.pop("coins")
print(items)

del items["bottle"]
print(items)

items.clear()
print(items)

{'coins': 7, 'pens': 3, 'cups': 2, 'bags': 1, 'bottle': 4, 'books': 5}
{'pens': 3, 'cups': 2, 'bags': 1, 'bottle': 4, 'books': 5}
{'pens': 3, 'cups': 2, 'bags': 1, 'books': 5}
{}

In [149]:
print(domains.keys()) # Keys 
print(domains.values()) # values
print(domains.items()) # key-value pair
print("de" in domains) # Membership
print("cz" in domains) # membership

dict_keys(['de', 'sk', 'hu', 'us', 'no'])
dict_values(['Germany', 'slovakia', 'Hungary', 'United states', 'Norway'])
dict_items([('de', 'Germany'), ('sk', 'slovakia'), ('hu', 'Hungary'), ('us', 'United states'), ('no', 'Norway')])
True
False

In [151]:
for key in domains:
    print("Key of domains dicy are ", key)
for k in domains:
    print("Values  of domains dicy are ", domains[k])
for k,v in domains.items():
    print(" : ". join((k,v)))
print("Finish")

Key of domains dicy are  de
Key of domains dicy are  sk
Key of domains dicy are  hu
Key of domains dicy are  us
Key of domains dicy are  no
Values  of domains dicy are  Germany
Values  of domains dicy are  slovakia
Values  of domains dicy are  Hungary
Values  of domains dicy are  United states
Values  of domains dicy are  Norway
de : Germany
sk : slovakia
hu : Hungary
us : United states
no : Norway
Finish

In [158]:
# Sorting on keys
items = {'coins':7,'pens':3,'cups':2,'bags':1,'bottle':4,'books':5}
sitems = items.keys()
#sitems.sort() won't work to sort the Dictionary values we have to use pprint library
print(sitems)

for k in sitems:
    print(":".join((k, str(items[k]))))

dict_keys(['coins', 'pens', 'cups', 'bags', 'bottle', 'books'])
coins:7
pens:3
cups:2
bags:1
bottle:4
books:5

In [1]:
import pprint as pp
pp.pp(items)

In [159]:
# Dictionaries are dynamic
# Sort method allows sorting of dict
# Keys are unique and therefore cannot be duplicated

In [160]:
# We can use range function to create a list and tuple
L = list(range(10))
T = tuple(range(10))
print(L,T)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [161]:
## List iterations and list comprehension 

Country_list = ['India','America','Denmark','United Kingdom','Germany','Japan']
first3letters = []
for word in Country_list:
    first3letters.append(word[:3].upper())
first3letters

['IND', 'AME', 'DEN', 'UNI', 'GER', 'JAP']

In [162]:
# Element for element in list filter condition
Country_list = ['India','America','Denmark','United Kingdom','Germany','Japan']
first3letters = [word[:3].upper() for word in Country_list]
print(first3letters)

['IND', 'AME', 'DEN', 'UNI', 'GER', 'JAP']

In [163]:
list1 = [11,12,13,14,15,16,17,18,19,20]
Even_number = []
for num in list1:
    if num%2 ==0:
        Even_number.append(num*2)
print(Even_number)

[24, 28, 32, 36, 40]

In [164]:
Even_Number = [num*2 for num in list1 if num%2 ==0]
print(Even_Number)

[24, 28, 32, 36, 40]

In [165]:
list1 = [11,12,13,14,15,16,17,18,19,20]
Even_number = []
for num in list1:
    if num%2 ==0:
        Even_number.append(num*2)
    else:
        Even_number.append(num*3)
print(Even_number)

[33, 24, 39, 28, 45, 32, 51, 36, 57, 40]

In [166]:
Even_Number = [num*2 if num%2 ==0 else num*3 for num in list1]
print(Even_Number)

[33, 24, 39, 28, 45, 32, 51, 36, 57, 40]

In [168]:
x=[11,12,13];y=[21,22,23]
print(list(zip(x,y)))

[(11, 21), (12, 22), (13, 23)]

In [171]:
import itertools as itr
x=[11,12,13];y=[21,22,23]
Itr_product = list(itr.product(x,y))
print(Itr_product)

[(11, 21), (11, 22), (11, 23), (12, 21), (12, 22), (12, 23), (13, 21), (13, 22), (13, 23)]

In [173]:
States = {'kar':20,'AP':30,'TN':34,'Ker':45}
for key in States:
    print(key,States[key])
print('Finish')

kar 20
AP 30
TN 34
Ker 45
Finish

In [174]:
print(States.get('kar'))
print(States.get('Del','Key not found'))

20
Key not found

In [175]:
del States['kar']
print(States)

{'AP': 30, 'TN': 34, 'Ker': 45}

In [178]:
Employee =  {
    'EmpNo':[100,101,102,103],
    'EName':['Kong','Kochar','Alex','Satish'],
    'Salary':[9000,10000,7500,8900]
}
print(Employee)

{'EmpNo': [100, 101, 102, 103], 'EName': ['Kong', 'Kochar', 'Alex', 'Satish'], 'Salary': [9000, 10000, 7500, 8900]}

## User defined functions

In [180]:
def rep_neg(x):
    if x>0:
        out = x
    else:
        out = 0
    return out
rep_neg(-10)

0

In [181]:
MyList = [-1,2,4,5,-8,-9,5,7,-0,5,4]
for i in range(0,len(MyList)):
    MyList[i] = rep_neg(MyList[i])
print(MyList)

[0, 2, 4, 5, 0, 0, 5, 7, 0, 5, 4]

In [182]:
# Factorial if a number using default argument

def fac(num =1):
    count = 1
    fact = 1
    while count <= num:
        fact = count*fact
        count += 1
    return(fact)
fac(5)

120

In [183]:
fac() # retunrs 1 becasue default value is 1

1

## Lambda Function

In [184]:
sum = lambda x,y:x+y
sum(4,5)

9

#### We can use lambda fucntion with in MAP, REDUCE and FILTER to replicate the functionality of list comprehension

In [185]:
Temp = [36.5,34,28,37,29.6,28,32.05]
F = map(lambda T:round(((9/5)*T+32),2), Temp)
print(list(F))

[97.7, 93.2, 82.4, 98.6, 85.28, 82.4, 89.69]

In [186]:
Squares = [2,4,6,8,10,9,7,5,3,1]
result = list(map(lambda a:a**2,Squares))
print(result)

[4, 16, 36, 64, 100, 81, 49, 25, 9, 1]

In [187]:
List1 = [2,3,4,5,6,7,8,9,0]
result = filter(lambda i:i%2==0,List1)
print(list(result))

[2, 4, 6, 8, 0]

In [190]:
from functools import reduce
L = [10,20,30,40]
Sum = reduce(lambda x,y:x+y,L)
print(Sum)

100

In [194]:
L2 = [5,4,6,7,3,9,2,8,23]
reduce(lambda a,b:a if (a>b)else b,L2)

23

## OOP in Python

In [202]:
class student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def __str__(self):
        return "student name is :" + str(self.name)+ ' '+str(self.age)+ " years old"
    def firstName(self):
        return self.name.split(' ')[0]
    def lastName(self):
        return self.name.split(' ')[1]

In [203]:
Student1 = student("Satish kumar",30)
print(Student1)

student name is :Satish kumar 30 years old

In [204]:
print(Student1.firstName())
print(Student1.lastName())

Satish
kumar

# Importing Packages

In [208]:
# If we have a '.py' file with name "Python.py" it can be called using import 
import Python as P
student = P.student("Satish kumar",34)

In [209]:
print(student)

student name is :Satish kumar 34 years old

In [210]:
import Mathematics as M

In [211]:
M.add(5,6)

11

In [212]:
M.sub(5,6)

-1

In [213]:
M.mul(5,6)

30

In [214]:
M.div(6,5)

1.2

In [215]:
from Mathematics import add
add(34,67)

101

# Exception Handling in Python

In [216]:
Temp = input("Enter Tempature in  Fahrenheit")
F = float(Temp)
Cel = (F-32.0)*5.0/9.0
print(Cel)

Enter Tempature in  Fahrenheit7
-13.88888888888889

In [217]:
Temp = input("Enter Tempature in  Fahrenheit")
F = float(Temp)
Cel = (F-32.0)*5.0/9.0
print(Cel)

Enter Tempature in  FahrenheitSati

ValueError: could not convert string to float: 'Sati'

In [224]:
Temp = input("Enter Tempature in  Fahrenheit")
try:
    F = float(Temp)
    cel = (F-32.0)*5.0/9.0
    print(cel)
except:
    print("Please enter a number")
finally:
    print("Always executed")

Enter Tempature in  Fahrenheit67
19.444444444444443
Always executed

In [225]:
Temp = input("Enter Tempature in  Fahrenheit")
try:
    F = float(Temp)
    cel = (F-32.0)*5.0/9.0
    print(cel)
except:
    print("Please enter a number")
finally:
    print("Always executed")

Enter Tempature in  Fahrenheitytu
Please enter a number
Always executed