In [1]:
# Tuples are fixed size sequences that is they are immutables
# Tuples are different from list 

# Tuples 
    # Cannot be updated
    # Can contain dat of different types
    # Are accessed using index
    # Are zero based
    # Are enclosed in () braces ( optional)
    # Are comparable and hashbale
    # are faster than lists for read-only operations 
    # Can be converted to list and vice versa
    # Don not have append or extend methods : New elements can't be added to them
    # Do not have remove or pop methods : Elements can't be removed from them
    # Do not have index method : Elements can't be found in them
    # Elements contained in a tuple are comma separated 
    # Reverse access is possible in a tuple
    # Duplication of items is allowed in a tuple
    # A tuple can be created with one element by ending it with comma( Example : data = ('abc',))

In [2]:
# Creating tuples
tup = (1,1,4,5,3,2,8,9,0,2,3,7,6,5,3)
print(tup)
print(type(tup))

(1, 1, 4, 5, 3, 2, 8, 9, 0, 2, 3, 7, 6, 5, 3)
<class 'tuple'>

In [3]:
tup1 = ('a',)
print(tup1)
print(type(tup1))

('a',)
<class 'tuple'>

In [4]:
data = ('a')
print(type(data))
print(data)

<class 'str'>
a

In [5]:
tup = tuple('Guido van rossam')
print(tup)
print(tup[4])
print(tup[3:9])

('G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'r', 'o', 's', 's', 'a', 'm')
o
('d', 'o', ' ', 'v', 'a', 'n')

In [6]:
l = list(tup)
print(l)

['G', 'u', 'i', 'd', 'o', ' ', 'v', 'a', 'n', ' ', 'r', 'o', 's', 's', 'a', 'm']

In [7]:
T1 = (3,4,5)
T2 = (3,5,4)

#Tuple comparison
#Compares each element , stops when one is greater else continues
#to next elements comparison

if T1 > T2:
    print(T1, " Tuple is greater")
else:
    print(T2, " Tuple is greater")
print("Length :" ,len(T2))
print("Compare : ",T1 < T2) #ret = True if T1 is greater
print("Max : ", max(T1))
print("Min : ", min(T2))

(3, 5, 4)  Tuple is greater
Length : 3
Compare :  True
Max :  5
Min :  3

In [8]:
print("Concatenation : ", T1+T2)
print("Repetition : ",T2*4)
print("Membership : ",4 in T2)

for x in T2:  #Iteration of tuple
    print(x)

Concatenation :  (3, 4, 5, 3, 5, 4)
Repetition :  (3, 5, 4, 3, 5, 4, 3, 5, 4, 3, 5, 4)
Membership :  True
3
5
4